<script id="login_msg.html" type="text/ng-template">
    <div class="modal" style="background-color: rgba(255,255,255,0.95)">
        <ion-content class="login_view">
            <div style="position: absolute; height: 100%;">
                <div class="transform-align-middle">
                    <div ng-show="type === 'signup'">
                        <p class="heading">{{'ACTIVATION_SENT' | translate}}</p>
                        <p class="message">{{"ACTIVATION_MSG" | translate : {email : email} }}</p>
                    </div>
                    <div ng-show="type === 'forgot'">
                        <p class="heading">{{'RESET_PASSWORD_SENT' | translate}}</p>
                        <p class="message">{{"FORGOT_PASSWORD_MSG" | translate : {email : email} }}</p>
                    </div>
                    <div ng-show="type === 'resetSuccess'">
                        <p class="message">{{"RESET_PASSWORD_MSG" | translate}}</p>
                    </div>
                    <div ng-show="type === 'notActivated'">
                        <p class="message">{{"SEND_AGAIN_MSG" | translate : {email : email} }}</p>
                    </div>

                    <p class="login_button" ng-click="goToLogin()">{{"GOT_IT" | translate}}</p>
                </div>
            </div>
        </ion-content>
    </div>
</script>

<script id="add_client.html" type="text/ng-template">
    <div class="modal" style="background-color: rgba(0,0,0,0.5)">
        <ion-content id="add_client_modal" class="temp_account_view {{modalClass}}">
            <div class="swiper-container transform-align-middle" >
                <form class="swiper-wrapper" id="addClientForm" name="addClientForm" novalidate="" ng-submit="confirmAdd(addClientForm)">
                    <div class="swiper-slide">
                        <b class="align-center">{{"CREATE_NEW_ACCOUNT" | translate}}</b>

                        <div class="full_divider" style="margin: 4% 0% 6% 0%;"></div>

                        <p>{{"ACCOUNT_NAME_MSG" | translate}}</p>
                        <input id="accountNameInput" class="bg_color form-group align-center name-input" type="text" name="accountName" ng-model="accountObj.accountName" required
                               ng-class="{ 'has-error' : addClientForm.accountName.$invalid && !addClientForm.accountName.$pristine }">
                        <div class="row">
                            <input class="col login_button" type="text" value="{{'CANCEL_CAPS' | translate}}" ng-click="addClientModal.hide();" style="margin-right: 5%;" readonly />
                            <input class="col login_button" type="submit" value="{{'CREATE_ACCOUNT' | translate}}" />
                        </div>

                        <div class="full_divider"></div>

                        <div class="align-right modal_footer" ng-click="slideNext()">
                            <p class="inline-block align-middle" style="">{{"CLIENT_HAVE_ACCOUNT" | translate}}</p>
                            <i class="inline-block align-middle ion-android-arrow-forward"></i>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <b class="align-center">{{"LINK_EXISTING_ACCOUNT" | translate}}</b>

                        <div class="full_divider" style="margin: 4% 0% 6% 0%;"></div>

                        <p>{{"LINK_ACCOUNT_MSG" | translate}}</p>
                        <input id="linkAccountInput" class="bg_color form-group align-center name-input" type="email" name="clientEmail" ng-model="accountObj.linkEmail" required
                               ng-class="{ 'has-error' : addClientForm.clientEmail.$invalid && !addClientForm.clientEmail.$pristine }">
                        <div class="row">
                            <input class="col login_button" type="text" value="{{'CANCEL_CAPS' | translate}}" ng-click="addClientModal.hide();" style="margin-right: 5%;" readonly />
                            <input class="col login_button" type="submit" value="{{'LINK_CAPS' | translate}}" />
                        </div>

                        <div class="full_divider"></div>

                        <div class="modal_footer" ng-click="slidePrev()">
                            <i class="inline-block align-middle ion-android-arrow-back"></i>
                            <p class="inline-block align-middle" style="">{{"GO_BACK" | translate}}</p>
                        </div>
                    </div>
                </form>
            </div>
        </ion-content>
    </div>
</script>

<script id="edit_client.html" type="text/ng-template">
    <div class="modal" style="background-color: rgba(0,0,0,0.5)">
        <ion-content id="edit_client_modal" class="temp_account_view">
            <form class="transform-align-middle" id="editClientForm" name="editClientForm" novalidate="" ng-submit="confirmEdit(editClientForm)">
                <p>{{"ACCOUNT_NAME_MSG" | translate}}</p>
                <input id="editAccountNameInput" class="bg_color form-group align-center name-input" type="text" name="accountName" ng-model="editAccountName" required
                       ng-class="{ 'has-error' : editClientForm.accountName.$invalid && !editClientForm.accountName.$pristine }">
                <div class="row">
                    <input class="col login_button" type="text" value="{{'CANCEL_CAPS' | translate}}" ng-click="editClientModal.hide();" style="margin-right: 5%;" readonly />
                    <input class="col login_button" type="submit" value="{{'EDIT_CAPS' | translate}}" />
                </div>
            </form>
        </ion-content>
    </div>
</script>


<script id="generate_report.html" type="text/ng-template">
    <div class="modal" style="background-color: rgba(0,0,0,0.5)">
        <ion-content delegate-handle="generateReportScroll" class="temp_account_view">
            <form id="reportNameForm" class="transform-align-middle" name="reportNameForm" novalidate="" ng-submit="export(reportNameForm)">

                <!--REPORT TYPE-->
                <p style="margin: 2% 0% 0% 0%; font-size: 0.9em;">{{"SELECT_REPORT_TYPE" | translate}}</p>
                <report-type-picker class="align-middle"
                              ng-model-name="reportObj.selectedTypeValue"
                              ng-selected-id="reportObj.selectedTypeId"
                              ng-selected-value="reportObj.selectedTypeValue"
                              ng-data="reportTypeEnum"></report-type-picker>

                <!--REPORT NAME-->
                <p style="margin: 7% 0% 0% 0%; font-size: 0.9em;">{{"ENTER_REPORT_NAME" | translate}}</p>
                <input id="reportNameInput" class="bg_color form-group align-center" type="text" name="reportName" ng-model="reportObj.reportName" ng-pattern="/^[ '()a-zA-Z0-9]*$/" required
                       ng-class="{ 'has-error' : reportNameForm.reportName.$invalid && !reportNameForm.reportName.$pristine }">

                <!--MESSAGE-->
                <div class="form-message" ng-messages="reportNameForm.reportName.$error" ng-show="!reportNameForm.reportName.$pristine" style="" role="alert">
                    <div ng-message="required" style="padding: 0; padding-top: 3%;">{{"REQUIRED_ERROR" | translate}}</div>
                    <div ng-message="pattern" style="padding: 0; padding-top: 3%;">{{"REPORT_NAME_PATTERN_ERROR" | translate}}</div>
                </div>

                <div class="row">
                    <input class="col login_button" type="text" value="{{'CANCEL_CAPS' | translate}}" ng-click="hideGenerateReportModal()" style="margin-right: 5%;" readonly />
                    <input class="col login_button" type="submit" value="{{'GENERATE_CAPS' | translate}}" />
                </div>
            </form>
        </ion-content>
    </div>
</script>

<script id="report_type.html" type="text/ng-template">
    <div class="modal" style="background-color: rgba(0,0,0,0.5)">
        <ion-content class="temp_account_view">
            <form id="reportTypeForm" class="transform-align-middle" name="reportTypeForm" novalidate="" ng-submit="submit(reportTypeForm)">

                <!--REPORT NAME-->
                <p style="margin: 3% 0% 0% 0%; font-size: 0.9em;">{{"ENTER_REPORT_NAME" | translate}}</p>
                <input id="reportNameInput" class="bg_color form-group align-center" type="text" name="reportName" ng-model="reportName" ng-pattern="/^[ '()a-zA-Z0-9]*$/" required
                       ng-class="{ 'has-error' : reportTypeForm.reportName.$invalid && !reportTypeForm.reportName.$pristine }">

                <!--MESSAGE-->
                <div class="form-message" ng-messages="reportTypeForm.reportName.$error" ng-show="!reportTypeForm.reportName.$pristine" style="" role="alert">
                    <div ng-message="required" style="padding: 0; padding-top: 3%;">{{"REQUIRED_ERROR" | translate}}</div>
                    <div ng-message="pattern" style="padding: 0; padding-top: 3%;">{{"REPORT_NAME_PATTERN_ERROR" | translate}}</div>
                </div>

                <div class="row">
                    <input class="col login_button" type="text" value="{{'CANCEL_CAPS' | translate}}" ng-click="hideReportTypeModal()" style="margin-right: 5%;" readonly />
                    <input class="col login_button" type="submit" value="{{'SUBMIT_CAPS' | translate}}" />
                </div>
            </form>
        </ion-content>
    </div>
</script>

<script id="generate_token.html" type="text/ng-template">
    <div class="modal" style="background-color: rgba(0,0,0,0.5)">
        <ion-content class="generate_token_view">
            <form class="transform-align-middle" name="accountNameForm" novalidate="" ng-submit="createTempAccount(accountNameForm)">
                <p class="heading">{{"TRANSFER_INSTRUCTION_HEADING" | translate}}</p>
                <p class="new-line">{{"TRANSFER_INSTRUCTION" | translate}}</p>

                <br>

                <b>{{"USERNAME" | translate}}</b>
                <p style="margin-bottom: 3%;">{{loginName}}</p>

                <b>{{"PASSWORD" | translate}}</b>
                <p>{{password}}</p>

                <div class="row">
                    <input class="col login_button" type="text" value="{{'COPY' | translate}}" ng-click="copy()" style="margin-right: 5%;" readonly />
                    <input class="col login_button" type="submit" value="{{'GOT_IT' | translate}}" ng-click="generateTokenModal.hide()" />
                </div>
            </form>
        </ion-content>
    </div>
</script>

<script id="remove_modal.html" type="text/ng-template">
    <div class="modal" style="background-color: rgba(0,0,0,0.5)">
        <ion-content class="temp_account_view">
            <form class="transform-align-middle">
                <p>{{removeMessage}}</p>
                <div class="row" style="padding-bottom: 0;">
                    <input class="col login_button" type="text" value="{{'CANCEL_CAPS' | translate}}" ng-click="removeModal.hide()" style="margin-right: 5%;" readonly />
                    <input class="col login_button" type="submit" value="{{'YES_CAPS' | translate}}" ng-click="confirmRemove()"/>
                </div>
            </form>
        </ion-content>
    </div>
</script>

<script id="unlink_account.html" type="text/ng-template">
    <div class="modal" style="background-color: rgba(0,0,0,0.5)">
        <ion-content class="temp_account_view">
            <form class="transform-align-middle">
                <p>{{"UNLINK_ACCOUNT_MSG" | translate:{name : advisorInfo.name} }}</p>
                <div class="row" style="padding-bottom: 0;">
                    <input class="col login_button" type="text" value="{{'CANCEL_CAPS' | translate}}" ng-click="unlinkAccountModal.hide()" style="margin-right: 5%;" readonly />
                    <input class="col login_button" type="submit" value="{{'YES_CAPS' | translate}}" ng-click="confirmUnlinkAccount()"/>
                </div>
            </form>
        </ion-content>
    </div>
</script>

<script id="thanks_mail.html" type="text/ng-template">
    <div class="modal" style="background-color: rgba(0,0,0,0.5)">
        <ion-content class="temp_account_view">
            <form class="transform-align-middle align-center">
                <img src="img/message_sent.svg" style="width: 45%; margin: 3%;">
                <p class="new-line" style="font-size: 0.9em;">{{"THANKS_MAIL" | translate}}</p>
                <p class="login_button" ng-click="thanksMail.hide()">{{"GOT_IT" | translate}}</p>
            </form>
        </ion-content>
    </div>
</script>

<!--TOOLTIP-->
<script id="dashboardDoughnutTooltip.html" type="text/ng-template">
    <div class="modal" style="background-color: rgba(0,0,0,0.5)">
        <ion-content class="temp_account_view">
            <div class="transform-align-middle" style="background-color: white; padding: 6%; border-radius: 5px; font-size: 0.9em;">
                <div class="align-center" style="font-weight: bold; font-size: 1.2em;">{{"YOUR_PROTECTION_SCORE" | translate}}</div>
                <br>
                <p>{{dashboardDoughnutTooltip}}</p>
                <p class="login_button inline-block align-middle" ng-click="doughnutTooltip.hide()" style="width: 40%;">{{"GOT_IT" | translate}}</p>
                <p class="login_button inline-block align-middle" ng-click="goToReport()" style="width: 58%;">{{"FIND_OUT_MORE" | translate}}</p>
            </div>
        </ion-content>
    </div>
</script>
<script id="coverageStatusTooltip.html" type="text/ng-template">
    <div class="modal" style="background-color: rgba(0,0,0,0.5)">
        <ion-content class="temp_account_view">
            <div class="transform-align-middle" style="background-color: white; padding: 6%; border-radius: 5px; font-size: 0.9em;">
                <div class="align-center" style="font-weight: bold; font-size: 1.2em;">{{"YOUR_PROTECTION_STATUS" | translate}}</div>
                <br>
                <p style="padding-bottom: 2%;">{{coverageStatus}}</p>
                <div ng-repeat="need in coverageStatusNeeds" style="padding-left: 3%; padding-top: 1%;">- {{need | translate}}</div>
                <p class="login_button inline-block align-middle" ng-click="coverageStatusTooltip.hide()" style="width: 40%;">{{"GOT_IT" | translate}}</p>
                <p class="login_button inline-block align-middle" ng-click="goToReport(highlightType)" style="width: 58%;">{{"FIND_OUT_MORE" | translate}}</p>
            </div>
        </ion-content>
    </div>
</script>
<script id="doughnutTooltip.html" type="text/ng-template">
    <div class="modal" style="background-color: rgba(0,0,0,0.5)">
        <ion-content class="temp_account_view">
            <div class="transform-align-middle" style="background-color: white; padding: 6%; border-radius: 5px; font-size: 0.9em;">
                <div class="align-center" style="font-weight: bold; font-size: 1.2em;">{{category}}</div>
                <br>
                <b>{{"WHY_IMPORTANT" | translate}}</b>
                <p class="new-line">{{importanceContent}}</p>
                <br>
                <b>{{"GENERALLY_COVERS" | translate}}</b>
                <p class="new-line">{{coverageContent}}</p>
                <p class="login_button" ng-click="doughnutTooltip.hide()">{{"GOT_IT" | translate}}</p>
            </div>
        </ion-content>
    </div>
</script>
<script id="suggestTooltip.html" type="text/ng-template">
    <div class="modal" style="background-color: rgba(0,0,0,0.5)">
        <ion-content class="temp_account_view">
            <div class="transform-align-middle" style="background-color: white; padding: 6%; border-radius: 5px; font-size: 0.9em;">
                <div class="align-center" style="font-weight: bold; font-size: 1.2em;">{{category}}</div>
                <br>
                <b>{{"SUGGESTED_COVERAGE" | translate}}</b>
                <p class="new-line">{{suggestedCoverage}}</p>
                <p class="login_button" ng-click="suggestTooltip.hide()">{{"GOT_IT" | translate}}</p>
            </div>
        </ion-content>
    </div>
</script>
<script id="descTooltip.html" type="text/ng-template">
    <div class="modal" style="background-color: rgba(0,0,0,0.5)">
        <ion-content class="temp_account_view">
            <div class="transform-align-middle" style="background-color: white; padding: 6%; border-radius: 5px; font-size: 0.9em;">
                <div class="align-center" style="font-weight: bold; font-size: 1.2em;">{{category}}</div>
                <br>
                <p class="new-line">{{categoryDesc}}</p>
                <p class="login_button" ng-click="descTooltip.hide()">{{"GOT_IT" | translate}}</p>
            </div>
        </ion-content>
    </div>
</script>

<!--TOAST-->
<script id="toast.html" type="text/ng-template">
    <md-toast id="toast" style="" ng-click="closeToast()">
        <span flex>{{content}}</span>
    </md-toast>
</script>
<script id="warning-toast.html" type="text/ng-template">
    <md-toast style="background-color: red;">
        <span flex>{{"NO_CLIENT_SELECTED_ERROR" | translate}}</span>
    </md-toast>
</script>