$light-gray: #eaeaea !default;
$line-color: #c0bcbc !default;
$theme-color: #fed82f !default;

date-picker input {
  padding-right: 0 !important;
}
.date_picker,
.term_picker,
.suggestAmtEditor {
  position: absolute;
  //top: 30%;
  background-color: white;
  width: 90%;
  margin: 0% 5%;
  padding: 3% 0% 4% 0%;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: -10px -10px 10px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: -10px -10px 10px 0px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.5);
}
.date_picker .picker_header,
.term_picker .picker_header,
.suggestAmtEditor .picker_header {
  font-weight: bold;
  margin-bottom: 5%;
}
.date_picker .pickerScroll,
.term_picker .pickerScroll {
  margin: 3% 0% 2% 0%;
  position: relative;
}
.date_picker .swiper-container,
.term_picker .swiper-container {
  color: $line-color;
  border-width: 0;
}
.date_picker .swiper-container .swiper-slide-active,
.term_picker .swiper-container .swiper-slide-active {
  color: black;
}
.date_picker .picker_buttons,
.term_picker .picker_buttons,
.suggestAmtEditor .picker_buttons {
  padding: 3% 4%;
  padding-bottom: 1%;
}
.date_picker button,
.term_picker button,
.suggestAmtEditor button{
  border-radius: 5px;
}
.date_picker button.bg_theme_color,
.term_picker button.bg_theme_color,
.suggestAmtEditor button.bg_theme_color{
  background-color: #fed82f;
}
.date_picker button.bg_gray_color,
.term_picker button.bg_gray_color,
.suggestAmtEditor button.bg_gray_color {
  background-color: rgba(158,158,158,0.2);;
}
.modal .date_picker .swiper-container,
.modal .term_picker .swiper-container {
  height: 98px;
}
.modal .date_picker .selector_box,
.modal .term_picker .selector_box {
  width: 92%;
  left: 4%;
  height: 38px;
  position: absolute;
  //top: 110px;
  top: 33.333333%;
  border-top: 1px solid rgba(0,0,0,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.3);
}



term-picker input {
  padding-right: 0 !important;
}
//.modal .term_picker .selector_box {
//  width: 92%;
//  left: 4%;
//  height: 38px;
//  position: absolute;
//  top: 110px;
//  border-top: 1px solid rgba(0,0,0,0.3);
//  border-bottom: 1px solid rgba(0,0,0,0.3);
//}
.modal .term_picker .slider-pager {
  display: none;
}
.modal .term_picker .slider {
  overflow: hidden !important;
}


.modal .suggestAmtEditor .suggestAmtInput {
  width: 86%;
  margin: 0% 7%;
  padding: 2% 3%;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  text-align: center;
  font-size: 1.1em;
}
.modal .suggestAmtEditor .picker_header {
  margin: 0% 6%;
  margin-bottom: 5%;
}
.modal .suggestAmtEditor .restore_default_button {
  border-radius: 5px;
  background-color: $theme-color;
  text-align: center;
  padding: 2% 8%;
  margin-right: 3%;
  margin-top: 5%;
}


.repeat-container {
  width: 55%;
  position: relative;
  background-color: $theme-color;
  padding: 1.5% 6%;
  margin: 2% 6% 9% auto;;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  font-size: 0.9em;
}
.has-shadow {
  box-shadow: inset 2px 2px 25px -5px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 2px 2px 25px -5px rgba(0,0,0,0.3);
}