<ion-view id="advisor_info_view" view-title="{{'CONTACT_ADVISOR' | translate}}">
    <ion-nav-buttons side="secondary">
        <button class="button button-clear" ng-click="toggleMenu()" ng-if="accountLinked === true">
            <i class="ion-more"></i>
        </button>
    </ion-nav-buttons>

    <ion-content class="" delegate-handle="advisorInfo">

        <!--INTERACTION MENU-->
        <md-menu md-offset="0 0" md-position-mode="target target">
            <md-button id="contactAdvisorMenuTrigger" style="display: none; float: right;" aria-label="interactionMenu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ng-click="call()">
                        Call advisor
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="email()">
                        Email advisor
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <section ng-if="accountLinked === false" >
            <form class="advisor_info_container align-center" name="linkAccountForm" novalidate="" ng-submit="linkAccount(linkAccountForm)">
                <p class="">{{"NO_ADVISOR_MSG" | translate}}</p>
                <input class="align-center email form-group" ng-class="{ 'has-error' : linkAccountForm.advisorEmail.$invalid && !linkAccountForm.advisorEmail.$pristine }"
                       placeholder="{{'ADVISOR_EMAIL' | translate}}" type="advisorEmail" name="advisorEmail" ng-model="advisorEmail" required ng-disabled="confirmDetails === true">
                <!--MESSAGE-->
                <!--<div class="form-message" ng-messages="linkAccountForm.advisorEmail.$error" ng-show="!signupForm.advisorEmail.$pristine" style="" role="alert">-->
                <!--<div ng-message="required">{{"REQUIRED_ERROR" | translate}}</div>-->
                <!--</div>-->
                <input class="login_button" type="submit" value="{{'LINK_ACCOUNT_CAPS' | translate}}" ng-hide="confirmDetails === true"/>
            </form>

            <div ng-if="confirmDetails === true">
                <div class="full_divider"></div>
                <p class="link_account_confirm">{{"ADVISOR_LINK_CONFIRM" | translate:{name : confirmDetailsObj.name} }}</p>
            </div>


            <div id="confirm_details_container" ng-if="confirmDetails === true">
                <div class="two_cols_item">
                    <div class="inline-block align-middle">{{"NAME" | translate}}</div>
                    <p class="inline-block align-middle align-center bg_color">{{confirmDetailsObj.name}}</p>
                </div>
                <div class="two_cols_item">
                    <div class="inline-block align-middle">{{"COMPANY" | translate}}</div>
                    <p class="inline-block align-middle align-center bg_color">{{confirmDetailsObj.company}}</p>
                </div>
                <div class="two_cols_item">
                    <div class="inline-block align-middle">{{"REP_NO" | translate}}</div>
                    <p class="inline-block align-middle align-center bg_color">{{confirmDetailsObj.repNo}}</p>
                </div>
                <input class="login_button" type="submit" value="{{'CONFIRM_CAPS' | translate}}" ng-click="confirmLinkAccount()"/>
            </div>

            <md-divider></md-divider>

            <form id="sendFeedbackForm" class="advisor_info_container align-center" name="sendFeedbackForm" novalidate="" ng-submit="sendFeedback(sendFeedbackForm)" ng-if="confirmDetails === false">
                <div>
                    <b class="align-center">{{"DROP_MAIL" | translate}}</b>
                    <p id="no_advisor_to_link_text">{{"NO_ADVISOR_TO_LINK_MSG" | translate}}</p>
                    <div id="subjectSelect"
                         dropdown-select="categories"
                         dropdown-model="viewObj.subject"
                         dropdown-item-label="text" >
                    </div>
                    <input id="feedbackContact" type="text" class="form-group" ng-class="{ 'has-error' : sendFeedbackForm.contact.$invalid && !sendFeedbackForm.contact.$pristine }"
                           name="contact" ng-model="viewObj.contact" placeholder="{{feedbackContactPlaceholder}}" required>
                    <textarea class="form-group" ng-class="{ 'has-error' : sendFeedbackForm.body.$invalid && !sendFeedbackForm.body.$pristine }"
                              rows="8" cols="1" name="body" ng-model="viewObj.body" placeholder="{{feedbackBodyPlaceholder}}" required>
                    </textarea>
                    <input class="login_button" type="submit" value="{{'SUBMIT' | translate}}" style="margin-top: 6%;"/>
                </div>
            </form>

        </section>



        <section class="advisor_info_container" ng-if="accountLinked === true">
            <div class="two_cols_item" ng-if="advisorInfo.name">
                <div class="inline-block align-middle">{{"NAME" | translate}}</div>
                <p class="inline-block align-middle align-center bg_color">{{advisorInfo.name}}</p>
            </div>
            <div class="two_cols_item" ng-if="advisorInfo.title">
                <div class="inline-block align-middle">{{"TITLE" | translate}}</div>
                <p class="inline-block align-middle align-center bg_color">{{advisorInfo.title}}</p>
            </div>
            <div class="two_cols_item" ng-if="advisorInfo.company">
                <div class="inline-block align-middle">{{"COMPANY" | translate}}</div>
                <p class="inline-block align-middle align-center bg_color">{{advisorInfo.company}}</p>
            </div>
            <div class="two_cols_item" ng-if="advisorInfo.repNo">
                <div class="inline-block align-middle">{{"REP_NO" | translate}}</div>
                <p class="inline-block align-middle align-center bg_color">{{advisorInfo.repNo}}</p>
            </div>
            <div class="two_cols_item" ng-if="advisorInfo.address">
                <div class="inline-block align-middle">{{"ADDRESS" | translate}}</div>
                <p class="inline-block align-middle align-center bg_color">{{advisorInfo.address}}</p>
            </div>
            <div class="two_cols_item" ng-if="advisorInfo.phone">
                <div class="inline-block align-middle">{{"PHONE" | translate}}</div>
                <p class="inline-block align-middle align-center bg_color">{{advisorInfo.phone}}</p>
            </div>
            <div class="two_cols_item" ng-if="advisorInfo.email">
                <div class="inline-block align-middle">{{"EMAIL" | translate}}</div>
                <p class="inline-block align-middle align-center bg_color">{{advisorInfo.email}}</p>
            </div>
            <div class="two_cols_item" ng-if="advisorInfo.website">
                <div class="inline-block align-middle">{{"WEBSITE" | translate}}</div>
                <p class="inline-block align-middle align-center bg_color">{{advisorInfo.website}}</p>
            </div>
            <div class="two_cols_item" ng-if="advisorInfo.education">
                <div class="inline-block align-middle">{{"EDUCATION" | translate}}</div>
                <p class="inline-block align-middle align-center bg_color new-line" style="text-align: left;">{{advisorInfo.education}}</p>
            </div>
            <input class="login_button" type="submit" value="{{'UNLINK_ACCOUNT' | translate}}" ng-click="unlinkAccount()" style="position: absolute; left: 20%; bottom: 1%;"/>
        </section>
    </ion-content>
</ion-view>


