<ion-view id="profile_view" view-title="{{'CUSTOMIZE_FIELD_NAMES' | translate}}">
    <ion-nav-buttons side="secondary">
        <button class="button button-clear" ng-click="submitButton()">
            <i class="ion-checkmark"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="" has-bouncing="true">
        <form id="field_name_list" name="fieldNameForm" novalidate="" ng-submit="submit(fieldNameForm)" style="padding-bottom: 3%;">
            <div class="field_name_item" ng-repeat="fieldName in fieldNamesArray">
                <p>{{fieldName.title + "_DEFAULT" | translate}}</p>
                <input class="field_name_input bg_color" type="text" ng-model="fieldName.fieldName" ng-change="updateCount($index)" ng-focus="showCount($index)" ng-blur="hideCount($index)">
                <p class="character_count" ng-show="fieldName.show" class="character_count">{{fieldName.left}} characters left.</p>
            </div>

            <!--SUBMIT-->
            <input id="fullTableFieldNameSubmit" class="login_button hide-g" type="submit" value="{{'SUBMIT_CAPS' | translate}}"
                   style="margin-top: 4%;"/>
        </form>
    </ion-content>
</ion-view>


