<ion-view id="settings_view" view-title="{{'SETTINGS' | translate}}">
    <ion-content class="">
        <div id="settings_list">
            <div class="two_cols_item">
                <div class="inline-block align-middle">{{"CURRENCY_LITERAL" | translate}}</div>
                <currency-picker class="inline-block align-middle" ng-model-name="currency"></currency-picker>
            </div>
            <!--<div class="two_cols_item">-->
                <!--<div class="inline-block align-middle">{{"EDIT_POLICY_FIELD_NAME" | translate}}</div>-->
                <!--<input class="inline-block align-middle align-center bg_color" type="text" value="{{'CUSTOMIZE' | translate}}" ng-click="goToEditFields()" readonly>-->
            <!--</div>-->
            <div class="two_cols_item">
                <div class="inline-block align-middle">{{"CHANGE_PASSWORD" | translate}}</div>
                <input class="inline-block align-middle align-center bg_color" type="text" value="{{'CHANGE' | translate}}" ng-click="goToChangePassword()" readonly>
            </div>
            <div class="two_cols_item">
                <div class="inline-block align-middle">{{"CHANGE_EMAIL" | translate}}</div>
                <input class="inline-block align-middle align-center bg_color" type="text" value="{{'CHANGE' | translate}}" ng-click="goToChangeEmail()" readonly>
            </div>
        </div>

    </ion-content>
</ion-view>


