<ion-view id="reset_password_view" view-title="{{'CHANGE_PASSWORD' | translate}}" cache-view="false">
    <ion-content class="login_view">
        <div class="absolute_login_container">
            <div class="transform-align-middle">
                <!--<div class="login_logo_container" >-->
                    <!--<img src="img/logo.svg" />-->
                <!--</div>-->
                <form name="resetPasswordForm" novalidate="" ng-submit="reset(resetPasswordForm)">
                    <!--INPUT-->
                    <div class="input_container form-group" ng-class="{ 'has-error' : resetPasswordForm.oldPassword.$invalid && !resetPasswordForm.oldPassword.$pristine }">
                        <div class="icon_container">
                            <i class="policy-lock"></i>
                        </div>
                        <input name="oldPassword" type="password" placeholder="{{'OLD_PASSWORD' | translate}}"
                               class="" ng-model="signup.oldPassword" ng-minlength="8" ng-maxlength="20" ng-pattern="/^(?=.*?[a-zA-Z])(?=.*?[0-9])[a-zA-Z0-9]{8,20}$/" required>
                    </div>
                    <!--MESSAGE-->
                    <div class="form-message" ng-messages="resetPasswordForm.oldPassword.$error" ng-show="!resetPasswordForm.oldPassword.$pristine" style="" role="alert">
                        <div ng-message="required">{{"REQUIRED_ERROR" | translate}}</div>
                        <div ng-message="minlength">{{"PASSWORD_MIN" | translate}}</div>
                        <div ng-message="maxlength">{{"PASSWORD_MAX" | translate}}</div>
                        <div ng-message="pattern">{{"PASSWORD_PATTERN" | translate}}</div>
                    </div>



                    <!--INPUT-->
                    <div class="input_container form-group" ng-class="{ 'has-error' : resetPasswordForm.password.$invalid && !resetPasswordForm.password.$pristine }">
                        <div class="icon_container">
                            <i class="policy-lock"></i>
                        </div>
                        <input name="password" type="password" placeholder="{{'NEW_PASSWORD' | translate}}"
                               class="" ng-model="signup.password" ng-minlength="8" ng-maxlength="20" ng-pattern="/^(?=.*?[a-zA-Z])(?=.*?[0-9])[a-zA-Z0-9]{8,20}$/" required>
                    </div>
                    <!--MESSAGE-->
                    <div class="form-message" ng-messages="resetPasswordForm.password.$error" ng-show="!resetPasswordForm.password.$pristine" style="" role="alert">
                        <div ng-message="required">{{"REQUIRED_ERROR" | translate}}</div>
                        <div ng-message="minlength">{{"PASSWORD_MIN" | translate}}</div>
                        <div ng-message="maxlength">{{"PASSWORD_MAX" | translate}}</div>
                        <div ng-message="pattern">{{"PASSWORD_PATTERN" | translate}}</div>
                    </div>



                    <!--INPUT-->
                    <div class="input_container form-group" ng-class="{ 'has-error' : resetPasswordForm.confirm_password.$invalid && !resetPasswordForm.confirm_password.$pristine }">
                        <div class="icon_container">
                            <i class="policy-lock"></i>
                        </div>
                        <input name="confirm_password" type="password" placeholder="{{'CONFIRM_NEW_PASSWORD' | translate}}"
                               ng-model="signup.confirm_password" match="signup.password" required>
                    </div>
                    <!--MESSAGE-->
                    <div class="form-message" ng-messages="resetPasswordForm.confirm_password.$error" ng-show="!resetPasswordForm.confirm_password.$pristine" style="" role="alert">
                        <div ng-message="required">{{"REQUIRED_ERROR" | translate}}</div>
                        <div ng-message="match">{{"PASSWORD_MATCH" | translate}}</div>
                    </div>


                    <!--SUBMIT-->
                    <input class="login_button" type="submit" value="{{'CHANGE_CAPS' | translate}}" />
                </form>
            </div>
        </div>

    </ion-content>
</ion-view>

