<ion-view id="net_worth_input_view" view-title="{{'NET_WORTH_ANALYSIS' | translate}}">
    <ion-nav-buttons side="secondary">
        <button class="button button-clear" ng-click="submitButton()">
            <i class="ion-checkmark"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="" has-bouncing="true" delegate-handle="suggestAmtScroll">

        <div id="preview_profile">

            <!--ASSETS-->
            <div class="animate-item">
                <p class="section_header">{{"ASSETS" | translate}}</p>
            </div>
            <div class="two_cols_item animate-item">
                <div class="inline-block align-middle">{{"CASH_ASSETS" | translate}}</div>
                <currency-input ng-model-name="personal.cashAssets"></currency-input>
            </div>
            <div class="two_cols_item animate-item">
                <div class="inline-block align-middle">{{"PENSION" | translate}}</div>
                <currency-input ng-model-name="personal.pension"></currency-input>
            </div>
            <div class="two_cols_item animate-item">
                <div class="inline-block align-middle">{{"INVESTMENT_ASSETS" | translate}}</div>
                <currency-input ng-model-name="personal.investmentAssets"></currency-input>
            </div>
            <div class="two_cols_item animate-item">
                <div class="inline-block align-middle">{{"HOUSE_VALUE" | translate}}</div>
                <currency-input ng-model-name="personal.houseValue"></currency-input>
            </div>
            <div class="two_cols_item animate-item">
                <div class="inline-block align-middle">{{"CAR_VALUE" | translate}}</div>
                <currency-input ng-model-name="personal.carValue"></currency-input>
            </div>
            <div class="two_cols_item animate-item">
                <div class="inline-block align-middle">{{"OTHER_ASSETS" | translate}}</div>
                <currency-input ng-model-name="personal.otherAssets"></currency-input>
            </div>

            <!--LIABILITIES-->
            <div class="animate-item">
                <div class="policyForm_divider"></div>
                <p class="section_header">{{"LIABILITIES" | translate}}</p>
            </div>
            <div class="two_cols_item animate-item">
                <div class="inline-block align-middle">{{"MORTGAGE" | translate}}</div>
                <currency-input ng-model-name="personal.mortgage"></currency-input>
            </div>
            <div class="two_cols_item animate-item">
                <div class="inline-block align-middle">{{"AUTO_LOANS" | translate}}</div>
                <currency-input ng-model-name="personal.autoLoans"></currency-input>
            </div>
            <div class="two_cols_item animate-item">
                <div class="inline-block align-middle">{{"STUDY_LOANS" | translate}}</div>
                <currency-input ng-model-name="personal.studyLoans"></currency-input>
            </div>
            <div class="two_cols_item animate-item">
                <div class="inline-block align-middle">{{"OTHER_LIABILITIES" | translate}}</div>
                <currency-input ng-model-name="personal.otherLiabilities"></currency-input>
            </div>

            <!--CASHFLOW-->
            <div class="animate-item">
                <div class="policyForm_divider"></div>
                <p class="section_header">{{"CASHFLOW" | translate}}</p>
            </div>
            <div class="two_cols_item animate-item">
                <div class="inline-block align-middle">{{"INCOME" | translate}}</div>
                <currency-input ng-model-name="personal.income"></currency-input>
            </div>
            <!--<div class="two_cols_item animate-item">-->
                <!--<div class="inline-block align-middle">{{"OTHER_CASH_INFLOW" | translate}}</div>-->
                <!--<currency-input ng-model-name="personal.otherInflow"></currency-input>-->
            <!--</div>-->
            <div class="two_cols_item animate-item">
                <div class="inline-block align-middle">{{"EXPENDITURE" | translate}}</div>
                <currency-input ng-model-name="personal.expenditure" input-footer="expenditureFooterNetWorth"></currency-input>
                <div id="expenditureFooterNetWorth" class="input_footer" style="display: none;">{{"EXPENDITURE_NOTES" | translate}}</div>
            </div>
            <div class="two_cols_item animate-item">
                <div class="inline-block align-middle">{{"ANNUAL_DEBT_REPAYMENT" | translate}}</div>
                <currency-input ng-model-name="personal.debtRepayment"></currency-input>
            </div>
            <!--<div class="two_cols_item animate-item">-->
                <!--<div class="inline-block align-middle">{{"SAVINGS" | translate}}</div>-->
                <!--<currency-input ng-model-name="personal.savings"></currency-input>-->
            <!--</div>-->

            <!--INFLOW-->
            <!--<div class="animate-item">-->
                <!--<div class="policyForm_divider"></div>-->
                <!--<p class="section_header">{{"CASH_INFLOW" | translate}}</p>-->
            <!--</div>-->
            <!--<div class="two_cols_item animate-item">-->
                <!--<div class="inline-block align-middle">{{"INCOME" | translate}}</div>-->
                <!--<currency-input ng-model-name="personal.income"></currency-input>-->
            <!--</div>-->
            <!--<div class="two_cols_item animate-item">-->
                <!--<div class="inline-block align-middle">{{"OTHER_CASH_INFLOW" | translate}}</div>-->
                <!--<currency-input ng-model-name=""></currency-input>-->
            <!--</div>-->

            <!--&lt;!&ndash;OUTFLOW&ndash;&gt;-->
            <!--<div class="animate-item">-->
                <!--<div class="policyForm_divider"></div>-->
                <!--<p class="section_header">{{"CASH_OUTFLOW" | translate}}</p>-->
            <!--</div>-->
            <!--<div class="two_cols_item animate-item">-->
                <!--<div class="inline-block align-middle">{{"EXPENDITURE" | translate}}</div>-->
                <!--<currency-input ng-model-name="personal.expenditure"></currency-input>-->
            <!--</div>-->
            <!--<div class="two_cols_item animate-item">-->
                <!--<div class="inline-block align-middle">{{"OTHER_CASH_OUTFLOW" | translate}}</div>-->
                <!--<currency-input ng-model-name=""></currency-input>-->
            <!--</div>-->

            <!--&lt;!&ndash;OTHERS&ndash;&gt;-->
            <!--<div class="animate-item">-->
                <!--<div class="policyForm_divider"></div>-->
                <!--<p class="section_header">{{"OTHERS" | translate}}</p>-->
            <!--</div>-->
            <!--<div class="two_cols_item animate-item">-->
                <!--<div class="inline-block align-middle">{{"SAVINGS" | translate}}</div>-->
                <!--<currency-input ng-model-name=""></currency-input>-->
            <!--</div>-->


            <div id="netWorthSubmit" class="login_button hide-g" ng-click="submit()">{{"SUBMIT_CAPS" | translate}}</div>
        </div>


    </ion-content>
</ion-view>


