<ion-view id="preview_profile_view" view-title="{{'PROFILE' | translate}}">
    <ion-nav-buttons side="secondary">
        <button class="button button-clear" ng-click="toggleMenu()" ng-if="credential === 'advisor' && clientSelected === true" style="padding-right: 7px;">
            <i class="ion-more"></i>
        </button>
        <button class="button button-clear" ng-click="submitButton()" ng-if="credential === 'advisor' && clientSelected === true" >
            <i class="ion-checkmark"></i>
        </button>
    </ion-nav-buttons>

    <ion-content class="" has-bouncing="true" delegate-handle="clientProfileScroll">

        <!--INTERACTION MENU-->
        <md-menu md-offset="0 0" md-position-mode="target target">
            <md-button id="contactClientMenuTrigger" style="display: none; float: right;" aria-label="interactionMenu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ng-click="call()">
                        {{"CALL_CLIENT" | translate}}
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="email()">
                        {{"EMAIL_CLIENT" | translate}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <!--NO CONTENT CONTAINER-->
        <div class="no_content_container align-center transform-align-middle" ng-if="credential === 'advisor' && clientSelected === false">
            <div class="login_logo_container" >
                <img src="img/select_client.svg" />
            </div>
            <p class="new-line">{{"CLIENT_NOT_SELECTED" | translate}}</p>
            <div class="login_button" ng-controller="NoClientCtrl" ng-click="goToSelectClient()">{{"SELECT_CLIENT_CAPS" | translate}}</div>
        </div>

        <!--USER PROFILE-->
        <div id="preview_profile" ng-if="(credential === 'advisor' && clientSelected === true) || (credential === 'client')">
            <div class="animate-item">
                <p class="section_header">{{"DEMOGRAPHIC_INFO" | translate}}</p>
            </div>
            <div class="two_cols_item">
                <div class="inline-block align-middle">{{"NAME" | translate}}</div>
                <input class="inline-block align-middle align-center bg_color" type="text" name="name" ng-model="personal.name" ng-readonly="credential !== 'advisor'">
            </div>
            <div class="two_cols_item">
                <div class="inline-block align-middle">{{"GENDER" | translate}}</div>
                <p class="inline-block align-middle align-center bg_color" ng-click="changeGender()">{{personal.genderDisplayed}}</p>
            </div>
            <div class="two_cols_item">
                <div class="inline-block align-middle">{{"BIRTHDAY" | translate}}</div>
                <p ng-if="credential !== 'advisor'" class="inline-block align-middle align-center bg_color">{{personal.birthday}}</p>
                <date-picker class="inline-block align-middle align-center bg_color"
                             ng-if="credential === 'advisor'"
                             ng-model-name="personal.birthday"
                             name="birthday"
                             min-year = "1900"
                             date-format="LL">
                </date-picker>
            </div>
            <div class="two_cols_item">
                <div class="inline-block align-middle">{{"SMOKER" | translate}}</div>
                <p class="inline-block align-middle align-center bg_color" ng-click="changeSmoker()">{{personal.smokerDisplayed}}</p>
            </div>
            <div class="two_cols_item">
                <div class="inline-block align-middle">{{"INCOME" | translate}}</div>
                <p ng-if="credential !== 'advisor'" class="inline-block align-middle align-center bg_color">{{personal.income | currency:currency:0}}</p>
                <currency-input ng-if="credential === 'advisor'" ng-model-name="personal.income"></currency-input>
            </div>
            <div class="two_cols_item">
                <div class="inline-block align-middle">{{"EXPENDITURE" | translate}}</div>
                <p ng-if="credential !== 'advisor'" class="inline-block align-middle align-center bg_color">{{personal.expenditure | currency:currency:0}}</p>
                <currency-input ng-if="credential === 'advisor'" ng-model-name="personal.expenditure" input-footer="expenditureFooter"></currency-input>
                <div id="expenditureFooter" class="input_footer" style="display: none;">{{"EXPENDITURE_NOTES" | translate}}</div>
            </div>


            <div class="animate-item">
                <div class="policyForm_divider"></div>
                <p class="section_header">{{"REPORTS_INPUT" | translate}}</p>
            </div>
            <div class="two_cols_item">
                <div class="inline-block align-middle">{{"PROTECTION_NEEDS" | translate}}</div>
                <p class="inline-block align-middle align-center bg_color" ng-click="goTo('suggestAmtInput')" style="background-color: #D6D6D6;">{{"EDIT" | translate}}</p>
            </div>
            <div class="two_cols_item">
                <div class="inline-block align-middle">{{"NET_WORTH_ANALYSIS" | translate}}</div>
                <p class="inline-block align-middle align-center bg_color" ng-click="goTo('netWorthInput')" style="background-color: #D6D6D6;">{{"EDIT" | translate}}</p>
            </div>



            <!--REMARKS & NOTES-->
            <div ng-if="credential === 'advisor'">
                <div class="animate-item">
                    <div class="policyForm_divider"></div>
                    <p class="section_header">{{"CLIENT_NOTES" | translate}}</p>
                </div>
                <!--PHONE-->
                <div class="two_cols_item">
                    <div class="inline-block align-middle">{{"PHONE" | translate}}</div>
                    <input class="inline-block align-middle align-center bg_color form-group" type="tel" name="phone" ng-model="personal.phone">
                </div>
                <!--EMAIL-->
                <div class="two_cols_item">
                    <div class="inline-block align-middle">{{"EMAIL" | translate}}</div>
                    <input class="inline-block align-middle align-center bg_color form-group" type="email" name="email" ng-model="personal.email">
                </div>

                <div class="two_cols_item">
                    <div class="inline-block align-middle">{{"INTEREST" | translate}}</div>
                    <textarea rows="3" class="inline-block align-middle align-center bg_color" ng-model="personal.interest"></textarea>
                </div>
                <div class="two_cols_item">
                    <div class="inline-block align-middle">{{"CASE_NOTES" | translate}}</div>
                    <p class="inline-block align-middle align-center bg_color" ng-click="goTo('caseNotes')" style="background-color: #D6D6D6;">{{"VIEW_CASE_NOTES" | translate}}</p>
                </div>
            </div>

            <div id="clientProfileSubmit" ng-if="credential === 'advisor'" class="login_button hide-g" ng-click="submit()">{{"SUBMIT_CAPS" | translate}}</div>
            <div ng-if="credential !== 'advisor'" class="login_button" ng-click="editProfile()">{{"EDIT_PROFILE_CAPS" | translate}}</div>

        </div>


    </ion-content>
</ion-view>


