<ion-view id="suggest_amt_view" view-title="{{'PROTECTION_NEEDS' | translate}}">
    <ion-nav-buttons side="secondary">
        <button class="button button-clear" ng-click="submitButton()">
            <i class="ion-checkmark"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="" has-bouncing="true" delegate-handle="suggestAmtScroll">

        <!--USER PROFILE-->
        <div id="preview_profile">
            <div class="animate-item">
                <p class="section_header">{{"SETTINGS" | translate}}</p>
            </div>
            <div class="two_cols_item">
                <div class="inline-block align-middle">{{"USE_ADVANCED" | translate}}</div>
                <p class="inline-block align-middle align-center bg_color" ng-click="changeUseAdvanced()">{{personal.useAdvancedDisplayed}}</p>
            </div>


            <!--DIFFERENTIATE RATE SWITCH-->
            <div class="two_cols_item animate-item" ng-if="personal.useAdvanced === 1">
                <div class="inline-block align-middle">{{"DIFFERENTIATE_RATE" | translate}}</div>
                <p class="inline-block align-middle align-center bg_color" ng-click="changeDifferentiateRate()">{{personal.differentiateRateDisplayed}}</p>
            </div>


            <!--NO DIFFERENTIATE TERM-->
            <div class="animate-item" >
                <div class="policyForm_divider animate-item" ng-if="personal.differentiateRate === 0 && personal.useAdvanced === 1"></div>
                <p class="section_header animate-item" ng-if="personal.differentiateRate === 0 && personal.useAdvanced === 1">{{"RATE_OF_RETURN" | translate}}</p>
            </div>
            <div class="two_cols_item animate-item" ng-if="personal.differentiateRate === 0 && personal.useAdvanced === 1">
                <div class="inline-block align-middle">{{"RATE_OF_RETURN" | translate}}</div>
                <percent-input ng-model-name="personal.longTermRateOfReturn"></percent-input>
            </div>
            <div class="two_cols_item animate-item" ng-if="personal.differentiateRate === 0 && personal.useAdvanced === 1">
                <div class="inline-block align-middle">{{"INFLATION_RATE" | translate}}</div>
                <percent-input ng-model-name="personal.longTermInflation"></percent-input>
            </div>
            <div class="two_cols_item animate-item" ng-if="personal.differentiateRate === 0 && personal.useAdvanced === 1">
                <div class="inline-block align-middle">{{"INFLATION_ADJUSTED_RATE_OF_RETURN" | translate}}</div>
                <p class="inline-block align-middle align-center bg_color disabled">{{personal.longTermAdjustedRate}}</p>
            </div>


            <!--SHORT TERM-->
            <div class="animate-item" >
                <div class="policyForm_divider animate-item" ng-if="personal.differentiateRate === 1 && personal.useAdvanced === 1"></div>
                <p class="section_header animate-item" ng-if="personal.differentiateRate === 1 && personal.useAdvanced === 1">{{"SHORT_TERM_RATE_OF_RETURN" | translate}}</p>
            </div>
            <div class="two_cols_item animate-item" ng-if="personal.differentiateRate === 1 && personal.useAdvanced === 1">
                <div class="inline-block align-middle">{{"SHORT_TERM_RATE_OF_RETURN" | translate}}</div>
                <percent-input ng-model-name="personal.shortTermRateOfReturn"></percent-input>
            </div>
            <div class="two_cols_item animate-item" ng-if="personal.differentiateRate === 1 && personal.useAdvanced === 1">
                <div class="inline-block align-middle">{{"SHORT_TERM_INFLATION" | translate}}</div>
                <percent-input ng-model-name="personal.shortTermInflation"></percent-input>
            </div>
            <div class="two_cols_item animate-item" ng-if="personal.differentiateRate === 1 && personal.useAdvanced === 1">
                <div class="inline-block align-middle">{{"SHORT_TERM_INFLATION_ADJUSTED_RATE_OF_RETURN" | translate}}</div>
                <p class="inline-block align-middle align-center bg_color disabled">{{personal.shortTermAdjustedRate}}</p>
            </div>


            <!--LONG TERM-->
            <div class="animate-item" >
                <div class="policyForm_divider animate-item" ng-if="personal.differentiateRate === 1 && personal.useAdvanced === 1"></div>
                <p class="section_header animate-item" ng-if="personal.differentiateRate === 1 && personal.useAdvanced === 1">{{"LONG_TERM_RATE_OF_RETURN" | translate}}</p>
            </div>
            <div class="two_cols_item animate-item" ng-if="personal.differentiateRate === 1 && personal.useAdvanced === 1">
                <div class="inline-block align-middle">{{"LONG_TERM_RATE_OF_RETURN" | translate}}</div>
                <percent-input ng-model-name="personal.longTermRateOfReturn"></percent-input>
            </div>
            <div class="two_cols_item animate-item" ng-if="personal.differentiateRate === 1 && personal.useAdvanced === 1">
                <div class="inline-block align-middle">{{"LONG_TERM_INFLATION" | translate}}</div>
                <percent-input ng-model-name="personal.longTermInflation"></percent-input>
            </div>
            <div class="two_cols_item animate-item" ng-if="personal.differentiateRate === 1 && personal.useAdvanced === 1">
                <div class="inline-block align-middle">{{"LONG_TERM_INFLATION_ADJUSTED_RATE_OF_RETURN" | translate}}</div>
                <p class="inline-block align-middle align-center bg_color disabled">{{personal.longTermAdjustedRate}}</p>
            </div>


            <!--DEPENDENCY-->
            <div class="animate-item">
                <div class="policyForm_divider animate-item" ng-if="personal.useAdvanced === 1"></div>
                <p class="section_header animate-item" ng-if="personal.useAdvanced === 1">{{"DEPENDENCY_NEEDS" | translate}}</p>
            </div>
            <div class="two_cols_item animate-item" ng-if="personal.useAdvanced === 1">
                <div class="inline-block align-middle">{{"ANNUAL_DEPENDENCY_INCOME" | translate}}</div>
                <currency-input ng-model-name="personal.dependencyIncome"></currency-input>
            </div>
            <div class="two_cols_item animate-item" ng-if="personal.useAdvanced === 1">
                <div class="inline-block align-middle">{{"DEPENDENCY_YEARS" | translate}}</div>
                <input class="inline-block align-middle align-center bg_color" type="number" name="dependencyYears" ng-model="personal.dependencyYears">
            </div>
            <div class="two_cols_item animate-item" ng-if="personal.useAdvanced === 1">
                <div class="inline-block align-middle">{{"ANNUAL_PERSONAL_INCOME" | translate}}</div>
                <currency-input ng-model-name="personal.personalIncome"></currency-input>
            </div>
            <div class="two_cols_item animate-item" ng-if="personal.useAdvanced === 1">
                <div class="inline-block align-middle">{{"PERSONAL_INCOME_NEEDS_YEARS" | translate}}</div>
                <input class="inline-block align-middle align-center bg_color" type="number" name="dependencyYears" ng-model="personal.personalYears">
            </div>


            <!--IMMEDIATE CASH NEEDS-->
            <div class="animate-item">
                <div class="policyForm_divider animate-item" ng-if="personal.useAdvanced === 1"></div>
                <p class="section_header animate-item" ng-if="personal.useAdvanced === 1">{{"OTHERS" | translate}}</p>
            </div>
            <div class="two_cols_item animate-item" ng-if="personal.useAdvanced === 1">
                <div class="inline-block align-middle">{{"IMMEDIATE_CASH_NEEDS" | translate}}</div>
                <currency-input ng-model-name="personal.immediateCash"></currency-input>
            </div>


            <div id="suggestAmtSubmit" class="login_button hide-g" ng-click="submit()">{{"SUBMIT_CAPS" | translate}}</div>
        </div>


    </ion-content>
</ion-view>


