<ion-view id="gallery_view" view-title="{{'PIC_NOTES' | translate}}">
    <ion-nav-buttons side="secondary">
        <button class="button button-clear" ng-click="camera()">
            <i class="ion-ios-camera-outline" style="font-size: 1.7em;"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="" >
        <ion-scroll id="pic_notes" direction="y">
            <div class="inline-block align-middle pic_notes_item" ng-repeat="note in picNotes" ng-click="expand($index)"
                 ng-style="cellStyle()" style="background: url({{note.src}}); background-size: cover; background-repeat: no-repeat; ">
                <div class="align-center closeButtonBox" ng-click="remove(note.id,$event)">
                    <i class="ion-android-close"></i>
                </div>
                <!--<img ng-src="{{note}}" style="width: 100%;"/>-->
            </div>

        </ion-scroll>
        <!--<div id="take_pic_container">-->
            <!--<div class="login_button transform-align-middle" ng-click="camera()" style="margin: 0% auto;">TAKE PICTURE</div>-->
        <!--</div>-->
    </ion-content>
</ion-view>


