.toggle-switch {
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    text-align: left;
    overflow: hidden;
    line-height: 8px;
    min-width: 100px;
    width: 40%;
    margin-left: 55%;
    background-color: #fed82f;
}

.toggle-switch.disabled > div > span.knob {
    background: #AAA;
    border-radius: 5px;
}

.toggle-switch span {
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 100%;
    line-height: 20px;
    padding: 4px;
    text-align: center;
    width: 40%;
    white-space: nowrap;

    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.toggle-switch > div {
    position: relative;
    /*width: 150%;*/
    width: 168%;
}

.toggle-switch .knob {
    background: red;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #f5f5f5;
    width: 20%;
    z-index: 100;
}

.toggle-switch .switch-on {
    left: 0%;
}

.toggle-switch .switch-off {
    /*left: -50%*/
    left: -68%;
}

.toggle-switch .switch-left, .toggle-switch .switch-right {
    z-index: 1;
}

.toggle-switch .switch-left {
    color: #333;
    background-color: #fed82f;
    -webkit-box-shadow: inset 3px 3px 8px -1px rgba(0,0,0,0.3);
    box-shadow: inset 3px 3px 8px -1px rgba(0,0,0,0.3);
}

.toggle-switch .switch-right {
    color: #333;
    background-color: #fed82f;
    -webkit-box-shadow: inset 3px 3px 8px -1px rgba(0,0,0,0.3);
    box-shadow: inset 3px 3px 8px -1px rgba(0,0,0,0.3);
}

.toggle-switch-animate {
    transition: left 0.3s;
    -o-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -webkit-transition: left 0.3s;
}
